/* General Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  color: #555555; /* Contrasting color for better readability */
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center; /* Vertically align items */
}

header h1,
header h2 {
  margin-bottom: 10px;
}

.logo {
  width: 20px;
  height: 20px;
  margin-right: 10px; /* Added margin to create space between logo and heading */
  border-radius: 50%; /* Circular-shaped cropping */
  transform: scale(0.7);
}

/* Section Styles */
section {
  margin: 20px;
}

section h2 {
  margin-bottom: 10px;
}

.about-image {
  width: 50px; /* Set the width to 50 pixels */
  height: auto; /* Maintain aspect ratio */
}

/* Responsive Styles */
/* Add responsive styles as needed */

/* Additional Styles */
/* Add more styles based on your design preferences */
