/* styles.css */
/* Reset default browser styles */
body, p, ul, li {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}
h1 {
  font-size: 28px;
  margin-top: 10px;
}
h2 {
  font-size: 24px;
  margin-top: 10px;
  color: #888;
}
h3, h4, h5, h6 {
  margin-top: 10px;
}
nav {
  background-color: #f9f9f9;
  padding: 10px;
}
nav ul {
  list-style-type: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
nav ul li a {
  text-decoration: none;
  color: #555;
}
section {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}
.about-image {
  max-width: 100%; /* Ensure the image fits within the container */
  height: auto;
  margin-top: 20px;
}
.services ul {
  list-style-type: square;
  margin-left: 20px;
}
.contact ul li {
  margin-bottom: 10px;
}
.contact a {
  display: inline-block;
  margin-right: 10px;
}
.contact a img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
/* Media Queries */
@media
